*{
  padding: 0;
  margin: 0;
  
}
.speech{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group group1 Button{
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  display: flex;
  padding: auto;
  vertical-align: middle;

}


