*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: rgb(10, 10, 10);

}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 20px auto;
  height: 100vh;
}


#text{
  font-size:xx-large;
  text-align: center;
  margin: 79px auto;
  justify-content: center;
  display: flex;
  font-weight: 800;
  color: #ffff;
  padding: auto 20px;
}



button{
  font-weight: 800;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 0 25px 25px;
  margin: 20px auto;
}
#author{
  color:#ffff;
  margin-bottom: 25px;
  padding: 0 25px;
  text-align: center;

}