*{
  margin: 20px;
  padding: 20px;
}
.speech{
  background-color: black;
}

.group{
  overflow-y: inherit;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.textarea{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;


}