*{
  padding: 20px;
  margin: 0;
  box-sizing: border-box;

}

body{

    font-family: sans-serif;
    
}
.speech{
  width: 50px;
}

.group{
  margin: 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea{
  height: auto;
  width: 100rem;
  padding: 5px 10px;
  border: 1px solid rgba(228,28,20);
  outline: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  width: 100em;
  display: block;
  padding: 10px 22px ;
  color: rgb(10,10,10);
  font-weight: bold;
  cursor: pointer;
  outline: none;
  outline: none;
  background-color: #fff;

}
h2{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom:10px ;

}