*{
  padding: 0;
  margin: 0;
  
}
.speech{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group1 Button{
  text-align: center;
  align-content: center;
  align-items: center;
  display: inline-block;

}


